.p 
{

    box-sizing: border-box;
    border: 2px solid;
    border-radius: 25px;
    border-style: none;
    height: 300px;
    background: linear-gradient( white, hsl(244, 70%, 77%));
    display: flex;
}
.img 
{
margin-left: 200px;
display: flex;

}
.cover
{

    margin-left: 120px;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    overflow: scroll;
    height: 350px;
    overflow: hidden;

}
.box
{
background-color: white;
height: 100px;
width: 400px;
margin-left: 5px;

}

.box img{
    display: flex;
    border:2px solid black;
    border-radius: 10px;
    border-style: none;
}
.container
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  gap: 10px;
}
